*{
	padding: 0px;
	margin: 0px;
}
.container{
	width: 500px;
	height: 500px;
	border: 25px solid black;
	margin: 0 auto;
	line-height: 3.5;
	font-family: monospace;
	font-weight: bold;
}
h2{
	margin-top: 30px;
}
img{
	padding: 40px;
	display: block;
	margin: 0 auto;
}
h2, p, form{
	text-align: center;
}

.explain{
	margin-top: 50px;	
	width: 550px;
	margin: 0 auto;
}

.explain p{
	text-align: left;
	margin-top: 50px;
}